/***
* RHD Dev: Compiled at 5:17:05 PM on 14-04-2018
***/

/*
 * Main Stylesheet
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/
/* ==========================================================================
	Includes
   ========================================================================== */
#calendario {
  margin-right: 1em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  position: relative;
}
#calendario .plugin-title {
  font-size: 2em;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}
#calendario-workspace {
  width: 100%;
  position: relative;
}
#calendario-workspace .rhd-editorial-calendar {
  width: 80%;
  float: left;
}
#calendario-workspace .rhd-editorial-calendar .fc-header-toolbar .fc-center {
  font-size: 2em;
}
#calendario-workspace .rhd-editorial-calendar .fc-time {
  display: none;
}
#calendario-workspace .rhd-drafts-area {
  width: 18%;
  float: right;
  border-radius: 3px;
  border: 1px solid #000;
  height: 800px;
  padding: 0.5em;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  transition: all 0.25s ease;
}
#calendario-workspace .rhd-drafts-area.events-load-complete {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#calendario-workspace .fc-event {
  color: #fff;
  border: 3px;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.15em;
}
#calendario-workspace .status-draft {
  background: #808080;
}
#calendario-workspace .status-publish {
  background: #000;
}
#calendario-workspace .status-future {
  background: #00f;
}
.ui-draggable {
  cursor: pointer;
  z-index: 999;
}
