/***
* RHD Dev: Compiled at 8:29:17 PM on 20-11-2020
***/

/*
 * Main Stylesheet
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/
/* ==========================================================================
	Includes
   ========================================================================== */
.calendario-modal .post-links {
  float: right;
  margin-bottom: 0.5em;
}
.calendario-modal .post-links a {
  display: block;
  text-align: right;
  line-height: 1.2;
}
.calendario-modal .post-links .post-edit-link {
  font-size: 1rem;
}
.calendario-modal .post-links .post-trash-link {
  font-size: 0.9rem;
  color: #f00;
}
#calendario {
  margin-right: 1em;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  position: relative;
}
#calendario .plugin-title {
  font-size: 2em;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}
#calendario-workspace {
  width: 99%;
  height: 100vh;
  position: relative;
}
#calendario-workspace .fc-event,
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item button {
  color: #fff;
  border: 3px;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5em 0.35em;
}
#calendario-workspace .editorial-calendar {
  width: 80%;
  height: 100%;
  float: left;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  transition: all 2.5s ease;
}
#calendario-workspace .editorial-calendar.load-complete {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#calendario-workspace .editorial-calendar .fc-header-toolbar .fc-center {
  font-size: 2em;
}
#calendario-workspace .editorial-calendar .fc-day.first-of-month .first-of-month-label {
  line-height: 1.7;
  padding-right: 0.85em;
  float: right;
  text-transform: uppercase;
  color: #f00;
}
#calendario-workspace .editorial-calendar .fc-day-top[data-date$="01"] {
  color: #f00;
}
#calendario-workspace .editorial-calendar .fc-time {
  display: none;
}
#calendario-workspace .editorial-calendar .fc-event .fc-content {
  white-space: normal;
}
#calendario-workspace .editorial-calendar .fc-event .fc-title {
  display: block;
}
#calendario-workspace .editorial-calendar .fc-event.filter-hidden {
  visibility: hidden;
  z-index: -1;
}
#calendario-workspace .status-draft {
  background-color: #808080;
}
#calendario-workspace .status-publish {
  background-color: #000;
}
#calendario-workspace .status-future {
  background-color: #00f;
}
#calendario-workspace .calendario-sidebar {
  width: 18%;
  position: absolute;
  right: 0;
  top: 0;
}
#calendario-workspace .calendario-sidebar .calendario-sidebar-container {
  z-index: 999;
  position: relative;
}
#calendario-workspace .calendario-sidebar .calendario-sidebar-box-title {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
#calendario-workspace .calendario-sidebar .calendario-sidebar-box {
  width: 100%;
  height: auto;
  position: relative;
}
#calendario-workspace .calendario-sidebar .calendario-sidebar-box .fc-event {
  margin: 0.25em;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles {
  margin-bottom: 1em;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0.25em 0;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item {
  width: 40%;
  display: inline-block;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item button {
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 1.1em;
  border-width: 2px;
  border-style: solid;
  transition: all 0.15s ease;
  margin: 0;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item button.status-publish {
  background-color: #000;
  border-color: #000;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item button.status-draft {
  background-color: #808080;
  border-color: #808080;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item button.status-future {
  background-color: #00f;
  border-color: #00f;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item button.status-pending {
  background-color: #008000;
  border-color: #008000;
}
#calendario-workspace .calendario-sidebar .calendario-event-toggles .toggles .event-toggle-item button.filter-hidden {
  background-color: transparent;
  color: #000;
}
#calendario-workspace .calendario-sidebar .unscheduled-drafts-list {
  width: 100%;
  min-height: 300px;
  transition: all 0.25s ease;
  border-radius: 2px;
  border: 3px solid #000;
  z-index: 999;
  padding: 0.25em;
  margin: 0.5em 0;
}
#calendario-workspace .calendario-sidebar .unscheduled-drafts-list.drop-hover {
  background: #00f;
}
#calendario-workspace .calendario-sidebar .unscheduled-drafts-list.drop-active {
  background: #008000;
}
#calendario-workspace .calendario-sidebar .unscheduled-drafts-list .fc-event {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#calendario-workspace .calendario-sidebar .unscheduled-drafts-list .fc-event.load-complete {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.ui-draggable {
  cursor: pointer;
  z-index: 999;
}
