/*
 * Main Stylesheet
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/

/* ==========================================================================
	Includes
   ========================================================================== */

@require "partials/_global.styl"

#calendario
	margin-right $spacer
	-ff-body()
	position relative
	
	.plugin-title
		font-size 2em
		-ff-headline()
	

#calendario-workspace
	width 100%
	position relative
	
	.rhd-editorial-calendar
		width 80%
		float left
	
	.rhd-drafts-area
		width 18%
		float right
		border-radius 3px
		border 1px solid black
		height 800px