/*
 * Main Stylesheet
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/

/* ==========================================================================
	Includes
   ========================================================================== */

@require "partials/_global.styl"

#calendario
	margin-right $spacer
	-ff-body()
	position relative
	
	.plugin-title
		font-size 2em
		-ff-headline()
	

#calendario-workspace
	width 99%
	position relative
	
	.fc-event
		color white
		border 3px
		border-radius 3px
		font-size 1em
		padding 0.5em 0.35em
	
	.rhd-editorial-calendar
		width 80%
		float left
		
		.fc-header-toolbar
			.fc-center
				font-size 2em
		
		.fc-time
			display none
		
		.fc-event
			&.filter-hidden
				display none
	
	.status-draft
		background gray
	
	.status-publish
		background black
	
	.status-future
		background blue
	
	.calendario-sidebar
		width 18%
		position absolute
		right 0
		top 0
		
		.calendario-sidebar-container
			z-index 999
			position relative
		
		.calendario-sidebar-box-title
			margin-bottom $halfspacer
			font-size 1.2em
		
		.calendario-sidebar-box
			width 100%
			height auto
			border-radius 3px
			border 2px solid black
			position relative
		
		.calendario-event-toggles
			margin-bottom $spacer
			
			.toggles
				display flex
				align-content space-around
				
				.event-toggle
					width 50%
					display inline-block
					font-size 1.1em
					text-align center
					margin 0 $quarterspacer
					cursor pointer
					transition all 0.15s ease
					@extends #calendario-workspace .fc-event
					
					&.filter-hidden
						-opacity(0.4)		
			
		.calendario-unscheduled-drafts-list
			min-height 300px
			-opacity(0.5)
			transition all 0.25s ease
			
			&.events-load-complete
				-opacity(1)


.ui-draggable
	cursor pointer
	z-index 999