/*
 * Main Stylesheet
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/

/* ==========================================================================
	Includes
   ========================================================================== */

@require "partials/_global.styl"
@require "partials/_plugins.styl"
@require "partials/_modals.styl"

#calendario
	margin-right $spacer
	-ff-body()
	position relative
	
	.plugin-title
		font-size 2em
		-ff-headline()
	

#calendario-workspace
	width 99%
	position relative
	
	.fc-event
		color white
		border 3px
		border-radius 3px
		font-size 1em
		padding 0.5em 0.35em
	
	.editorial-calendar
		width 80%
		float left
		-opacity(0.25)
		transition all 2.5s ease
		
		&.load-complete
			-opacity(1)
		
		.fc-header-toolbar
			.fc-center
				font-size 2em
		
		.fc-time
			display none
		
		.fc-event
			&.filter-hidden
				display none
	
	.status-draft
		background-color gray
	
	.status-publish
		background-color black
	
	.status-future
		background-color blue
	
	.calendario-sidebar
		width 18%
		position absolute
		right 0
		top 0
		
		.calendario-sidebar-container
			z-index 999
			position relative
		
		.calendario-sidebar-box-title
			margin-bottom $halfspacer
			font-size 1.2em
		
		.calendario-sidebar-box
			width 100%
			height auto
			position relative
			
			.fc-event
			.event-toggle
				margin $quarterspacer
		
		.calendario-event-toggles
			margin-bottom $spacer
			
			.toggles
				display flex
				align-content space-around
				margin $quarterspacer 0
				
				.event-toggle
					width 50%
					display inline-block
					text-align center
					cursor pointer
					font-size 1.1em
					-unselectable()
					@extends #calendario-workspace .fc-event
					border-width 2px
					border-style solid
					transition all 0.15s ease
					
					&:first-of-type
						margin-left 0
					
					&:last-of-type
						margin-right 0
					
					&.status-publish
						background-color black
						border-color @background-color
					
					&.status-draft
						background-color gray
						border-color @background-color
					
					&.status-future
						background-color blue
						border-color @background-color
					
					&.filter-hidden
						background-color transparent
						color black
			
		.unscheduled-drafts-list
			width 100%
			min-height 300px
			transition all 0.25s ease
			border-radius 2px
			border 3px solid black
			z-index 999
			padding $quarterspacer
			margin $halfspacer 0
				
			&.drop-hover
				background blue
			
			&.drop-active
				background green
			
			.fc-event
				-opacity(0.5)
				
				&.load-complete
					-opacity(1)
					

.ui-draggable
	cursor pointer
	z-index 999