@mixin dropAreaProps {
	content: '\0a00';
	font-size: 0.5em;
	opacity: 0;
	text-transform: uppercase;
	line-height: 1.8;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absoluteFullCover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@mixin button {
	border: none;
	border-radius: var(--borderRadius);
	outline: none;
	padding: 8px 12px;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.8;
	color: var(--color-text-dark);
	cursor: pointer;
	text-decoration: none;
	transition: all 150ms;

	&:not(.icon) {
		font-family: 'Open Sans', sans-serif;
	}
}

@mixin hoverDelayTransition {
	transition: all 150ms ease-in-out;
	transition-delay: 250ms;
}

@mixin zoomShadow($r: 26, $g: 143, $b: 255) {
	box-shadow: rgba($r, $g, $b, 0.4) -5px 5px, rgba($r, $g, $b, 0.3) -10px 10px,
		rgba($r, $g, $b, 0.2) -15px 15px, rgba($r, $g, $b, 0.1) -20px 20px,
		rgba($r, $g, $b, 0.05) -25px 25px;
}

@mixin modalShadow() {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px;
}
