.pro {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 1em;

	&__container {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		z-index: 100;

		&.message-absolute {
			@include absoluteFullCover;
		}
	}

	&__content {
		background-color: var(--color-neutral);
		padding: 2em;
		border-radius: var(--borderRadius);
		@include zoomShadow;

		&__link {
			margin-bottom: 0;
		}
	}

	&__children {
		filter: blur(var(--backgroundBlur));

		&::before {
			content: '';
			@include absoluteFullCover;
		}
	}
}

.upsell {
	.features {
		padding-left: 0;
		margin-left: 0;
	}
}
