/**
  * Style it up styley
  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Mixins
@import "./_vars.scss";
@import "./_mixins.scss";

// Components
@import "./common.scss";
@import "./PostList.scss";
@import "./EditPost.scss";
@import "./ColorPickerPopover.scss";
@import "./ToggleButton.scss";

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	color: var(--textColor);
	background: var(--bgColor);
	position: relative;
}

#wpcontent {
	.auto-fold & {
		padding-left: 0;
	}
}

#calendario {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding-top: 23px; // admin bar difference
	overflow: auto;
	z-index: 99999;
	background: white;
	font-size: 16px;
}

.mobileOrientationCheck {
	display: none;
	z-index: -1;

	@media (max-width: $mobileBreak) and (orientation: portrait) {
		display: block;
		height: 100vh;
		width: 100vw;
		position: fixed;
		left: 0;
		top: 0;
		background: var(--textColor-transparent);
		color: var(--neutralColor);
		z-index: 999;
	}

	.message {
		color: var(--neutralColor);
		width: 80%;

		@include absoluteCenter;

		.icon,
		.caption {
			color: inherit;
		}

		.icon {
			font-size: 2em;
			display: block;
		}

		.caption {
			font-size: 1.4em;
			text-align: center;
		}
	}
}

.calendarioMain {
	display: grid;
	grid-gap: var(--gridGap);
	height: 100vh;
	overflow: auto;
	transition: all 500ms ease;

	@media (max-width: $mobileBreak) and (orientation: portrait) {
		overflow: hidden;
	}

	@media (max-width: $mobileBreak) {
		grid-template-rows: auto;
		grid-template-columns: 100%;
		grid-template-areas:
			"header"
			"main"
			"sidebar";
	}

	@media (min-width: $mobileBreak) {
		grid-template-rows: min-content auto;
		grid-template-areas:
			"header header"
			"main   sidebar";

		&.sidebarOpen {
			grid-template-columns: 3fr 300px;
		}

		&.sidebarClosed {
			grid-template-columns: 3fr 16px;
		}
	}

	.closeCalendario {
		color: var(--neutralColor);
		font-size: 1.75em;
		padding: 6px;
		background-color: var(--textColor);
		transition: all 100ms ease;

		&:hover,
		&:active {
			background-color: var(--textColor-dark);
		}
	}

	&__title {
		color: var(--textColor-light);
		line-height: 1;
		font-size: 2em;
		margin: 0 0 0 12px;
		max-width: 240px;

		img,
		svg {
			width: 100%;
		}

		svg {
			g {
				fill: var(--textColor);
			}
		}

		.line {
			display: block;
		}
	}

	&__header {
		background: var(--neutralColor);
		grid-area: header;
		display: block;
		width: 100%;
		border-bottom: 1px solid var(--borderColor);
		border-left: 1px solid var(--borderColor);

		&__content {
			@media (min-width: $mobileBreak) {
				display: grid;
				grid-gap: var(--gridGap);
				grid-template-columns: 3fr 300px;
				grid-template-areas: "calendarHeader title";
			}

			& > div {
				padding: 6px 16px;
				display: flex;
				align-self: center;
				align-items: center;

				&.calendarHeader {
					@media (max-width: $mobileBreak) {
						display: none;
					}

					@media (min-width: $mobileBreak) {
						grid-area: calendarHeader;
						padding: 0 2rem;
					}
				}

				&.title {
					@media (min-width: $mobileBreak) {
						grid-area: title;

						& > div {
							flex-basis: 100%;
						}
					}
				}
			}

			.calendarHeaderControls {
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				margin: 0 auto;
				text-transform: uppercase;
				font-weight: 700;
				align-items: center;
				width: 100%;

				@media (max-width: $mobileBreak) {
					align-items: center;
					justify-content: space-between;

					.col {
						flex: 1;

						&__center {
							display: grid;
							grid-gap: var(--gridGap);
							grid-template-rows: auto;
							grid-template-columns: 100%;
							grid-template-areas:
								"range"
								"options"
								"today";

							.viewRange {
								grid-area: today;
							}
						}
					}
				}

				.icon {
					cursor: pointer;
					font-size: 1.2rem;
				}
			}
		}
	}

	&__main,
	&__sidebar {
		padding-bottom: 40px;
	}

	&__sidebar {
		grid-area: sidebar;
		width: 100%;
		position: relative;

		@media (min-width: $mobileBreak) {
			padding-left: 1em;
		}

		&.closed {
			overflow: hidden;
			border-right: 1px solid var(--borderColor);
		}

		.drawerHandle {
			@media (max-width: $mobileBreak) {
				display: none;
			}

			@media (min-width: $mobileBreak) {
				background-color: var(--textColor-light);
				border-radius: 0;
				position: absolute;
				top: 28px;
				font-size: 0.8em;
				left: 4px;
				z-index: 1;
				line-height: 2;
				padding: 0;
				transition: all 100ms ease;

				&:hover,
				&:active {
					background-color: var(--textColor-dark);
					color: var(--textColor-light);
				}
			}
		}

		&__inner {
			background-color: var(--neutralColor);
			padding: 12px;
			border: 1px solid var(--borderColor);
		}

		.widget {
			.postList {
				display: flex;
				flex-direction: column;
				line-height: 1.8;
			}
		}
	}

	&__main {
		grid-area: main;
		width: 100%;
	}

	.react-datepicker-popper {
		z-index: 999;
	}

	.react-datepicker {
		&__navigation {
			border-radius: 0;
			padding: initial;
			border: 0.45rem solid transparent;

			&--next {
				border-left-color: #ccc;
			}

			&--previous {
				border-right-color: #ccc;
			}
		}
	}
}

.unscheduledDrafts {
	display: flex;
	flex-direction: column;
	line-height: 1.8;
	min-height: 50px;

	&.postList {
		background-color: var(--borderColor);
		height: 100%;
		border-radius: var(--borderRadius);
		padding: 6px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.post {
			&.dropArea {
				color: var(--neutralColor);
				position: relative;
				transition: all 0.15s ease;

				&.fromBelow,
				&.fromNowhere {
					&::before {
						@include dropAreaProps;
					}
				}

				&.fromAbove {
					&::after {
						@include dropAreaProps;
					}
				}
			}
		}
	}

	&.draggingOver {
		background-color: var(--mainColor-transparent);
	}

	& + .newPost {
		display: block;
		margin: 0.25em auto 0;
	}
}

.adminLinks {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
	margin: 0.5em 0 0;

	li {
		flex: 0 1 auto;
		text-align: right;
		line-height: 1.1;

		a {
			display: inline-block;
			color: var(--textColor);
			font-size: 0.8em;
			text-decoration: none;

			&:hover {
				color: var(--mainColor-light);
			}

			.icon {
				color: inherit;
				font-size: 90%;
				vertical-align: middle;
			}
		}
	}
}

.viewControl {
	display: flex;
	justify-content: center;
	width: 100%;

	.viewRange {
		&__input {
			background-color: transparent;
			border-bottom: 2px dotted var(--textColor-light);
			border-radius: 0;
			color: var(--textColor);
			font-size: 1.2em;
			font-weight: normal;

			&:hover,
			&:active,
			&:focus {
				border-bottom-color: var(--textColor);
				color: var(--textColor);
			}
		}

		& > .react-datepicker-wrapper {
			flex: 1;
		}
	}

	.todayButton {
		font-size: 0.9em;
		width: 60px;
		margin-right: 12px;

		&:not([disabled]) {
			border: 1px solid var(--textColor-light);

			&:hover,
			&:focus {
				background-color: var(--textColor-light);
				color: var(--neutralColor);
			}
		}

		&[disabled] {
			background-color: var(--neutralColor-dark);
			color: var(--textColor-light);
			cursor: not-allowed;
		}
	}
}

.view {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: auto;

	& > div {
		width: 100%;
		background: var(--neutralColor);
		border: 1px solid var(--borderColor);

		// @media (min-width: $mobileBreak) {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// }
	}

	&__calendar {
		padding: 12px;

		&__inner {
			background-color: var(--neutralColor);
			border: 1px solid var(--borderColor);
		}

		.days {
			text-transform: uppercase;
			font-weight: 400;
			color: var(--textColor-light);
			font-size: 70%;
			padding: 0.75em 0;
			border-bottom: 1px solid var(--borderColor);
		}

		.day {
			&:hover {
				.newPost {
					display: block;
					cursor: pointer;
					z-index: 999;
				}
			}

			&.dragOver {
				background-color: transparentize(
					$color: #53cbf1,
					$amount: 0.75
				);
			}

			.newPost {
				display: none;
				padding: 0;
				margin-top: 8px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				transition: all 0.05s;
				font-size: 1.2em;
			}
		}

		.body {
			.cell {
				position: relative;
				height: auto;
				min-height: 7em;
				border-right: 1px solid var(--borderColor);
				transition: 0.25s ease-out;

				&.odd {
					background: var(--neutralColor);
				}

				&.even {
					background: var(--neutralColor-dark);
				}

				&:last-child {
					border-right: none;
				}

				.month,
				.number {
					line-height: 1;
					font-weight: 700;
				}

				.month {
					position: absolute;
					font-size: 120%;
					text-transform: uppercase;
					top: 0.45em;
					left: 0.45em;
				}

				.number {
					display: block;
					font-size: 82.5%;
					padding: 0.75em;
					width: 100%;
					text-align: right;
					position: absolute;
				}
			}

			.selected {
				border-left: 10px solid transparent;
				border-image: linear-gradient(
					45deg,
					var(--mainColor) 0%,
					var(--mainColor-light) 40%
				);
				border-image-slice: 1;
			}

			.today {
				background: rgba(252, 152, 2, 0.068);
			}

			.past {
				background: var(--neutralColor-dark);
			}

			.row {
				border-bottom: 1px solid var(--borderColor);

				&:last-child {
					border-bottom: none;
				}
			}

			.col {
				flex-grow: 0;
				flex-basis: calc(100% / 7);
				width: calc(100% / 7);
			}
		}

		.postList {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			padding: 40px 0 3px;
			margin: 0;
			list-style: none;

			.post {
				margin: 0 2px;

				.postData {
					line-height: 1.3;
				}
			}
		}
	}

	&__list {
		height: 100%;

		.listDay {
			padding: 1em 1em 0.5em 1em;

			&:hover {
				.newPost {
					opacity: 1;
				}
			}

			.title {
				margin: 0;
				display: inline;
			}

			.newPost {
				position: relative;
				bottom: 1.5px;
				opacity: 0;
			}
		}

		&__days {
			background: var(--borderColor);
			border-radius: var(--borderRadius);
			margin: 1em;

			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				.postList {
					border-radius: var(--borderRadius);
					min-height: 20px;
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}

.options {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;

	button {
		font-size: 1.3em;
	}

	.viewMode {
		& > div {
			&:not(:last-child) {
				margin-bottom: 0.5em;
				padding-bottom: 0.5em;
			}
		}

		button {
			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: none;
			}
		}
	}
}

.statusFilters {
	.filters {
		list-style: none;
		padding: 0;
		margin: 0;

		.filterItem {
			display: inline-block;
			display: flex;
			line-height: 1.2;
			align-items: center;
			flex-wrap: nowrap;
			margin: 5px 3px;

			.name {
				flex: 1;
				margin-right: 1rem;
			}

			&.inactive {
				opacity: 0.4;
			}
		}
	}

	.reset {
		border: none;
		font-size: 0.7em;
		background-color: transparent;
		color: var(--textColor);
		margin-top: 12px;

		&:hover,
		&:focus {
			color: var(--mainColor);
		}
	}
}

.newPost {
	font-size: 1.2rem;
	background: none;

	&:hover {
		color: var(--mainColor-light);
	}
}

.widget {
	&__options {
		button {
			border-radius: var(--borderRadius);
		}
	}

	&__support {
		.support-links {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: nowrap;
			align-items: center;

			.rhdLogo {
				flex: 0 1 40%;
				height: 100%;
				margin: 0 8px 0 0;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
