.editPost {
	// transition: transform 0.25s ease-in-out;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999;

	&.active {
		transform: translateY(0);
	}

	&.inactive {
		transform: translateY(-100%);
	}

	&__container {
		width: 100%;
		height: 100%;
		background: transparentize($color: black, $amount: 0.85);
		position: fixed;
		top: 0;
		left: 0;
	}

	&__editor {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: var(--neutralColor);
		display: block;
		width: 50%;
		min-width: 300px;
		height: 90%;
		overflow: auto;
		padding: 22px;
		border-radius: var(--borderRadius);
		border: 1px solid var(--borderColor);

		.close {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 24px;
			color: var(--textColor);
		}

		.titleBar {
			margin: 0;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			border-bottom: 1px solid var(--borderColor);
			width: 100%;

			h3 {
				margin: 0;
			}
		}

		.titleBar,
		.fieldGroup__post_thumb {
			a {
				text-decoration: none;
				color: inherit;
			}

			.icon {
				font-size: 0.8em;
				position: relative;
				bottom: 2px;
			}
		}

		&__form {
			position: relative;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}

		.fieldGroup {
			&__header {
				& > div {
					margin-bottom: 4px;
				}
			}

			&__post_title {
				input {
					width: 100%;
				}
			}

			&__post_thumb {
				width: 33.3334%;
				height: auto;
				float: right;

				img {
					width: 100%;
					height: auto;
					display: block;
					border-radius: calc(var(--borderRadius) / 2);
				}
			}

			&__post_excerpt {
				width: 100%;

				input,
				textarea {
					width: 100%;
				}
			}

			&__post_title,
			&__date,
			&__status {
				float: left;
				width: calc(66.6667% - 12px);
			}

			&__date {
				display: flex;
				align-items: flex-end;

				.post_date {
					margin-right: 1em;

					&.inactive {
						opacity: 0.5;
						pointer-events: none;

						input {
							color: transparent;
						}
					}
				}

				.unscheduled {
					input,
					label {
						cursor: pointer;
						display: inline-block;
					}
				}
			}

			&__status {
				select {
					width: 100%;
				}
			}

			&__taxonomies {
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-between;

				& > .taxonomy {
					flex-basis: 49%;

					fieldset {
						padding: 0;
						margin: 0;
						border-radius: calc(var(--borderRadius) / 2);
						border-bottom-right-radius: 0;
						border-bottom-left-radius: 0;

						legend {
							margin-left: 6px;
						}
					}

					.filter {
						width: 100%;
						padding: 0 8px;
						margin: 2px 0 4px;

						label {
							font-size: 0.8em;
						}

						label,
						input {
							width: 100%;
						}
					}

					.terms {
						background: var(--neutralColor-dark);
						padding: 0 4px;
						height: 200px;
						overflow: auto;

						input,
						label {
							cursor: pointer;
						}

						input {
							display: inline-block;
							margin-right: 0.5rem;
						}
					}
				}
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		flex: 1;

		&__cancel {
			margin-left: 6px;
		}

		&__trash {
			margin-left: 24px;

			&:not(.confirm) {
				float: right;
			}

			input {
				&:focus {
					outline: 1px solid var(--mainColor-light);
				}
			}

			&.confirm {
				text-align: center;

				p {
					font-size: 1.2em;
					margin: 0 0 6px;
				}
			}
		}
	}
}
