.postList {
	position: relative;
	font-size: 80%;
	line-height: 2;
	list-style: none;
	margin-bottom: $postLinks__height;
	transition: all 0.1s ease-out;

	&:hover {
		margin-bottom: 0;
	}

	.post {
		color: var(--neutralColor);
		cursor: pointer;
		padding: 3px 0;
		margin: 0;
		position: relative;

		&.visible {
			visibility: visible;
		}

		&.hidden {
			visibility: hidden;
		}

		.postLinks {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			width: 100%;
			height: 0;
			padding: 0 2px;
			overflow: hidden;
			transition: height 0.1s ease-out;

			&.disabled {
				display: none;
			}

			button,
			a {
				&.icon {
					background-color: var(--neutralColor);
					border-radius: 50%;
					border: 1px solid var(--textColor);
					padding: 3px;
					margin: 0 0.5px;
					font-size: 0.9rem;
					text-decoration: none;

					&:hover {
						color: black;
						background-color: var(--neutralColor-dark);
					}

					&__trash {
						&:hover {
							color: red;
						}
					}
				}
			}
		}

		&:hover {
			.postLinks {
				height: $postLinks__height;
			}
		}

		.postData {
			pointer-events: none;
			margin: 0;
			padding: 4px 0;
			border: 2px solid transparent;
			border-radius: var(--borderRadius);
		}

		&.currentPost {
			.postData {
				border: 2px solid var(--mainColor-light);
			}
		}
	}
}
