.postList {
	position: relative;
	line-height: 2;
	height: 100%;
	list-style: none;
	margin-bottom: $postLinks__height;
	transition: background-color 150ms ease;
	overflow: unset;

	&.draggingOver {
		background-color: var(--color-main-transparent);

		&:not(.unscheduledDrafts) {
			.post {
				&:not(.dragging) {
					transform: none !important;
				}
			}
		}
	}

	.post {
		border: 2px solid transparent;
		border-radius: var(--borderRadius);
		padding-bottom: 0;
		color: var(--color-neutral);
		cursor: pointer;
		position: relative;
		transition: all 100ms ease-in-out;

		&:hover {
			margin-bottom: 30px !important;

			.postLinks {
				bottom: -30px;
				position: absolute;
			}
		}

		&.locked {
			pointer-events: none;
		}

		&.notransition {
			-webkit-transition: none;
			-moz-transition: none;
			-o-transition: none;
			transition: none;
		}

		&.dragging {
			&.over {
				&__unscheduled,
				&__calendar {
					width: 100%;
					flex: 0 0 100%;
				}

				&__none {
					opacity: 0.5;
				}
			}
		}

		.postLinks {
			border-radius: var(--borderRadius);
			background-color: var(--color-main-transparent);
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			justify-content: center;
			min-height: $postLinks__height;
			padding: 0 2px;
			margin: 0;
			overflow: hidden;
			position: absolute;
			bottom: 0;
			right: 50%;
			transform: translateX(50%);
			width: 100%;

			.postLink {
				flex: 1;
				border-radius: 50%;
				position: relative;

				.icon {
					text-decoration: none;
					padding: 25%;
					font-size: 20px;
					background: transparent;
					@include absoluteCenter;

					&:hover {
						color: var(--color-text-dark);
						background-color: var(--color-main-transparent);
					}

					&__trash {
						&:hover {
							color: var(--color-error);
						}
					}
				}
			}
		}

		.postData {
			pointer-events: none;
			margin: 0;
			padding: 4px;
			border: 2px solid transparent;
			border-radius: var(--borderRadius);
			position: relative;
			z-index: 1;
			font-size: 90%;
			font-weight: 400;
			overflow: hidden;

			&__title {
				display: flex;
				padding: 0 1px;
				width: 100%;
				margin: 0;
				pointer-events: none;
				justify-content: space-between;
				align-items: center;

				.icon {
					color: inherit;
					opacity: 0.75;
				}
			}
		}

		&.currentPost {
			.postData {
				border: 2px solid var(--color-main-light);
			}
		}
	}

	&.unscheduledDrafts {
		.post {
			margin: 0;

			&:hover {
				.postLinks {
					width: 100%;
				}
			}
		}
	}
}
