/*
 * Fonts and Colors
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/

$spacer = 1em
$halfspacer = ($spacer/2)
$quarterspacer = ($spacer/4)
$doublespacer = ($spacer*2)

$ff_body = 'Oswald', sans-serif
$ff_headline = 'Josefin Slab', serif

-ff-body()
	font-family $ff_body
	font-weight 400

-ff-headline()
	font-family $ff_headline
	font-weight 600