/*
 * Modals Stylesheet (vex-js)
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/

.calendario-modal
	.post-links
		float right
		margin-bottom $halfspacer
		
		a
			display block
			text-align right
			line-height 1.2
				
		.post-edit-link
			font-size 1rem
		
		.post-trash-link
			font-size 0.9rem
			color red