/*
 * Plugins and Helpers
 * 
 * Calendario
 * by Nick Gaswirth
 * https://roundhouse-designs.com
*/

-opacity( $n )
	-webkit-opacity $n
	-moz-opacity $n
	opacity $n

-unselectable()
	-webkit-user-select none	/* Chrome all / Safari all */
	-moz-user-select none		/* Firefox all */
	-ms-user-select none		/* IE 10+ */
	user-select none			/* Likely future */