/**
  * Style it up styley
  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root {
	--mainColor: #1a8fff;
	--mainColor-light: #53cbf1;
	--textColor: #777;
	--textColor-light: #ccc;
	--borderColor: #eee;
	--bgColor: #f9f9f9;
	--neutralColor: #fff;
	--neutralColor-dark: rgb(247, 247, 247);
	--borderRadius: 8px;
	--pastColor: #654654a9;
	--gridGap: 1em;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	color: var(--textColor);
	background: var(--bgColor);
	position: relative;
}

.calendario {
	display: grid;
	grid-gap: var(--gridGap);
	grid-template-columns: 3fr 300px;
	grid-template-areas:
		"header header"
		"main   sidebar";

	&__header,
	&__main,
	&__sidebar {
		background: var(--neutralColor);
	}

	&__header {
		grid-area: header;
		display: block;
		width: 100%;
		border-bottom: 1px solid var(--borderColor);

		&__content {
			display: grid;
			grid-gap: var(--gridGap);
			grid-template-columns: 3fr 300px;
			grid-template-areas:
				"topleft topright"
				"bottomleft bottomright";

			& > div {
				padding: 12px;
				display: flex;
				align-items: center;

				&.top {
					&.left {
						grid-area: topleft;
					}

					&.right {
						grid-area: topright;
					}
				}

				&.bottom {
					&.left {
						grid-area: bottomleft;
					}

					&.right {
						grid-area: bottomright;
					}
				}
			}
		}
	}

	&__main,
	&__sidebar {
		margin-bottom: 3em;
	}

	&__main {
		grid-area: main;
		width: 100%;
	}

	&__sidebar {
		grid-area: sidebar;
		padding: 12px;
		width: 100%;
		border: 1px solid var(--borderColor);
	}

	button {
		border-radius: var(--borderRadius);
		border: 1px solid var(--borderColor);
		outline: none;

		&:not([disabled]) {
			cursor: pointer;
		}

		&.icon {
			border: none;
			background-color: transparent;
		}
	}
}

.widget {
	width: 100%;
	padding: 12px;
	border: 1px solid var(--borderColor);

	&:not(:last-of-type) {
		margin-bottom: 12px;
	}

	.widgetTitle {
		margin: 0 1em 0 0;
		font-size: 1.2em;
	}
}

.unscheduledDrafts {
	display: flex;
	flex-direction: column;
	line-height: 1.8;

	&.postList {
		background-color: var(--borderColor);
		height: 100%;
		border-radius: var(--borderRadius);
		padding: 22px 6px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.post {
			// TODO custom cursor for dropzone hover
			cursor: move;

			&.dropArea {
				color: var(--neutralColor);
				position: relative;
				transition: all 0.15s ease;

				&::before {
					content: "\0a00";
					font-size: 0.5em;
					opacity: 0;
					text-transform: uppercase;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					// color: var(--mainColor);
					// border: 2px dashed var(--mainColor);
					// border-radius: var(--borderRadius);
					// background-color: var(--textColor-light);
					// position: absolute;
				}

				// & ~ .post {
				// 	transform: translateY(32px);
				// }
			}
		}
	}

	& + .newPost {
		text-align: center;
		width: 100%;
	}
}

.icon {
	color: var(--textColor);
	font-family: "Material Icons", serif;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}

.row {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.row-middle {
	align-items: center;
}

.col {
	flex-grow: 1;
	max-width: 100%;

	&__start {
		justify-content: flex-start;
		text-align: left;
	}

	&__center {
		justify-content: center;
		text-align: center;
	}

	&__end {
		justify-content: flex-end;
		text-align: right;
	}
}

.view {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	background: var(--neutralColor);
	border: 1px solid var(--borderColor);

	.header {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 115%;
		padding: 1.3em 0 0.6em;
		border-bottom: 1px solid var(--borderColor);

		.viewTitle {
			margin: 0;
			text-align: center;
			font-size: 1.2rem;
		}

		.viewRange {
			font-size: 0.8em;
		}

		.icon {
			cursor: pointer;
			transition: 0.15s ease-out;
			font-size: 1.4em;

			&:hover {
				transform: scale(1.25);
				transition: 0.15s ease-out;
				color: var(--mainColor);
			}

			&:first-of-type {
				margin-left: 1em;
			}

			&:last-of-type {
				margin-right: 1em;
			}
		}
	}

	&__calendar {
		.days {
			text-transform: uppercase;
			font-weight: 400;
			color: var(--textColor-light);
			font-size: 70%;
			padding: 0.75em 0;
			border-bottom: 1px solid var(--borderColor);
		}

		.day {
			&:hover {
				.newPost {
					display: block;
					cursor: pointer;
				}
			}

			.newPost {
				display: none;
				padding-top: 0.42em;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.body {
			.cell {
				position: relative;
				height: auto;
				min-height: 7em;
				border-right: 1px solid var(--borderColor);
				overflow: hidden;
				transition: 0.25s ease-out;
				display: flex;
				flex-direction: column;

				&.odd {
					background: var(--neutralColor);
				}

				&.even {
					background: var(--neutralColor-dark);
				}

				&:last-child {
					border-right: none;
				}

				.month,
				.number {
					line-height: 1;
					font-weight: 700;
				}

				.month {
					position: absolute;
					font-size: 120%;
					text-transform: uppercase;
					top: 0.45em;
					left: 0.45em;
				}

				.number {
					display: block;
					font-size: 82.5%;
					padding: 0.75em;
					width: 100%;
					text-align: right;
				}
			}

			.selected {
				border-left: 10px solid transparent;
				border-image: linear-gradient(
					45deg,
					var(--mainColor) 0%,
					var(--mainColor-light) 40%
				);
				border-image-slice: 1;
			}

			.today {
				background: rgba(252, 152, 2, 0.068);
			}

			.past {
				background: var(--neutralColor-dark);

				.postList {
					opacity: 0.4;
				}
			}

			.row {
				border-bottom: 1px solid var(--borderColor);

				&:last-child {
					border-bottom: none;
				}
			}

			.col {
				flex-grow: 0;
				flex-basis: calc(100% / 7);
				width: calc(100% / 7);
			}
		}

		.postList {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 3px;
			margin: 2px;
			list-style: none;
			z-index: 999;

			.post {
				.postData {
					line-height: 1.3;
				}
			}
		}
	}

	&__list {
		height: 100%;

		.listDay {
			padding: 1em 1em 0.5em 1em;

			&:hover {
				.newPost {
					display: inline;
				}
			}

			.title {
				margin: 0;
				display: inline;
			}

			.newPost {
				position: relative;
				bottom: 1.5px;
				display: none;
			}
		}

		&__days {
			background: var(--borderColor);
			border-radius: var(--borderRadius);
			margin: 1em;

			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				.postList {
					border-radius: var(--borderRadius);
					min-height: 20px;
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}

.statusFilters {
	.filters {
		list-style: none;
		padding: 0 12px;
		margin: 0;
		line-height: 2;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.filterItem {
			display: flex;
			flex: 1;
			align-items: center;
			flex-wrap: nowrap;
			margin: 0 12px;

			.dot {
				flex: 0 0 1em;
				height: 1em;
				width: 1em;
				display: inline-block;
				border-radius: 50%;
				margin-right: 8px;
			}

			.name {
				flex: 1;
			}

			&.inactive {
				opacity: 0.4;
			}
		}
	}
}

.postList {
	position: relative;
	z-index: 0;
	font-size: 80%;
	line-height: 2;
	list-style: none;

	&:not(.dropDisabled) {
		z-index: 999;
	}

	.post {
		cursor: pointer;
		padding: 3px 0;
		margin: 0;

		.postData {
			pointer-events: none;
			margin: 0;
			padding: 3px 6px;
			border: 2px solid transparent;
			border-radius: var(--borderRadius);
		}

		&.currentPost {
			.postData {
				border: 2px solid var(--mainColor-light);
			}
		}
	}
}

.editPost {
	&__container {
		width: 100%;
		height: 100%;
		background: transparentize($color: black, $amount: 0.5);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}

	&__editor {
		transform: translate(-50%, -50%);
		position: fixed;
		top: 50%;
		left: 50%;
		background-color: var(--neutralColor);
		display: block;
		width: 50%;
		min-width: 300px;
		height: auto;
		padding: 22px;
		border-radius: var(--borderRadius);
		border: 1px solid var(--borderColor);
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;

		.title {
			margin: 0;
			text-transform: uppercase;
			display: inline-block;
			border-bottom: 1px solid var(--borderColor);
		}

		.fieldGroup {
			&__post_excerpt,
			&__post_title {
				width: 100%;

				input,
				textarea {
					width: 100%;
				}
			}

			&__date {
				display: flex;
				align-items: flex-end;

				.post_date {
					margin-right: 1em;

					&.inactive {
						opacity: 0.5;
						pointer-events: none;
					}
				}

				.unscheduled {
					input,
					label {
						display: inline;
					}
				}
			}
		}

		.post_thumb {
			width: 200px;
			height: auto;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}

	&__buttons {
		margin-top: 12px;
	}
}

.fieldGroup {
	margin: 12px 0;

	&.inlineLabel {
		label,
		input,
		select {
			display: inline-block;
		}

		label {
			margin-right: 8px;
		}
	}

	label {
		display: block;
	}

	input,
	textarea,
	select {
		display: block;
		border: 1px solid var(--textColor);
		border-radius: calc(var(--borderRadius) / 2);
	}

	input,
	textarea {
		padding: 4px;
	}

	input {
		&.mini {
			width: 40px;
		}
	}

	select {
		cursor: pointer;
		padding: 2px 26px 2px 4px;
	}
}

.viewOptions {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;

	.fieldGroup {
		margin: 0;

		label,
		input {
			display: inline-block;
		}

		button {
			margin: 0 3px;

			&.active {
				background-color: var(--mainColor-light);
			}
		}
	}
}

.newPost {
	font-size: 1.2rem;
}
