/**
  * Style it up styley
  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root {
	--main-color: #1a8fff;
	--main-color-light: #53cbf1;
	--text-color: #777;
	--text-color-light: #ccc;
	--border-color: #eee;
	--bg-color: #f9f9f9;
	--neutral-color: #fff;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	color: var(--text-color);
	background: var(--bg-color);
	position: relative;
}

.calendario {
	display: grid;
	gap: 1%;
	grid-template-columns: 2fr 1.3334fr;
	grid-template-areas:
		"header header"
		"main   sidebar";

	&__header,
	&__main,
	&__sidebar {
		background: var(--neutral-color);
	}

	&__header {
		grid-area: header;
		display: block;
		width: 100%;
		padding: 1.75em 22px;
		border-bottom: 1px solid var(--border-color);
	}

	&__main {
		grid-area: main;
		margin: 0 auto;
		width: 100%;
	}

	&__sidebar {
		grid-area: sidebar;
		padding: 12px;
		width: 100%;
		border: 1px solid var(--border-color);

		.widget {
			height: 300px;
			width: 100%;
			margin-bottom: 12px;
			padding: 12px;
			border: 1px solid var(--border-color);

			.widget-title {
				margin-top: 0;
			}
		}
	}
}

.unscheduled-drafts {
	min-height: 60px;

	ul {
		padding: 0;
		list-style-position: inside;
		min-height: 100px;
		background: #eee;

		li {
			padding: 12px 0;
			cursor: grab;
			width: 100%;
			text-align: left;

			.flag {
				font-weight: bold;
				float: right;
				margin-right: 12px;
				font-size: 0.8em;
			}

			&:active {
				cursor: grabbing;
			}
		}
	}
}

.post-modal {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 999;
}

.post-modal-form-container {
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	max-width: 75%;
	max-height: 75%;
	width: auto;
	height: auto;
	position: absolute;
	margin: 36px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 9px 0px #555;
}

.post-modal-form {
	padding: 36px;

	label {
		display: block;
	}
}

.post-modal-close {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	display: block;
	cursor: pointer;
	width: 25px;
	height: 25px;
	line-height: 1;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
	color: white;
	font-size: 16px;
}
